<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>VueTetris</title>
    <meta charset="utf-8">
	<script src="lib/vue.js"></script>
	<script src="lib/jquery.js"></script>
	<style>
		#container td{
			width:30px;
			height:30px;
			padding:0;
			margin:0;
		}
		td.active{
			background-color:red;
		}
		td.background{
			background-color:green;
		}
		td.default{
			background-color:lightgray;
		}
		div#container table{
			border:2px solid black;
			margin:5px;
		}
	</style>
</head>
<body>

<div id="container">
	分数：{{score}}
	<table>
		<tr v-for="y in 5"><td v-for="x in 5" v-bind:class="getNextActiveClass(x,y)"></td></tr>
	</table>
	
	<table>
		<tr v-for="row in background"><td v-for="cell in row" v-bind:class="{'active':cell.active,'default':!cell.active&&!cell.background,'background':cell.background}"></td></tr>
	</table>
</div>

<script src="js/vuetetris.js"></script>

</body>
</html>